[Unit]
Description=Nginx RTMP streaming server
After=network.target multi-stream.service
Wants=multi-stream.service

[Service]
Type=forking
PIDFile=/var/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -t -c /opt/lat-stream/nginx.conf
ExecStart=/usr/sbin/nginx -c /opt/lat-stream/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target